<% visitor = notification.visitor %>

<%= link_to user_path(visitor) do %>
  <%= visitor.name %>
<% end %>
<span>さんが</span>

<% case notification.action %>
<% when 'chat' %>
  <p>あなたにチャットを送りました</p>
  <hr>
<% end %>