<% visitor = notification.visitor %>

<% case notification.action %>
<% when 'chat' %>
  <%= link_to user_path(visitor) do %>
    <%= visitor.name %>
  <% end %>
  <span>さんがあなたにチャットを送りました</span>
  <%= l notification.created_at, format: :short  %>
  <hr>
<% end %>