<% visitor = notification.visitor %>

<%= link_to user_path(visitor) do %>
  <%= visitor.name %>
<% end %>
<span>さんが</span>

<% case notification.action %>
<% when 'dm' %>
  <p>あなたにDMを送りました</p>
  <hr>
<% end %>