// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* 相手のメッセージ */
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 15px;
  padding: 6px 13px;
  border-radius: 12px;
  background: #ddd;
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15px;
    left: -15px;
    border: 5px solid transparent;
    border-right: 12px solid #ddd;
  }
}

/* 自分のメッセージ */
.current_user_says {
  display: inline-block;
  position: relative;
  margin: 0 15px 0 0;
  padding: 6px 13px;
  border-radius: 12px;
  background: #ffedab;
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15px;
    right: -15px;
    border: 5px solid transparent;
    border-left: 12px solid #ffedab;
  }
}